Python Basics Notebook by Abdalla Ibrahim

## 1. Integers

In [ ]:
a = 3
b = 4

print(type(a))
print(type(b))

c = a + b
print(c, type(c))

c = a - b
print(c, type(c))

c = a * b
print(c, type(c))

c = a ** b
print(c, type(c))

<class 'int'>
<class 'int'>
7 <class 'int'>
-1 <class 'int'>
12 <class 'int'>
81 <class 'int'>

## 2. Float

In [ ]:
d = 3.0
e = 5.1

print(type(d))
print(type(e))

f = d + e
print(f, type(f))

f = d - e
print(f"{f:.2f}", type(f)) # 2 decimal places

f = d * e
print(f"{f:.3f}", type(f)) # 3 decimal places

f = d / e
print(f"{f:.2f}", type(f))

<class 'float'>
<class 'float'>
8.1 <class 'float'>
-2.10 <class 'float'>
15.300 <class 'float'>
0.59 <class 'float'>

## 3. Strings

In [ ]:
string1 = 'First way to define a string'
string2 = "A second way to define a string"
string3 = '''And a third way'''
string4 = '''A 
multiple 
line
string'''

print(string1, type(string1))
print(string2, type(string2))
print(string3, type(string3))
print(string4, type(string4))

# Accessing characters in a string
print("Accessing the 5th character in string 1: ",string1[4]) # index no. 4 as python is 0 based indexing
print("Accessing the last character in string 2: ",string2[-1]) # last character is -1

#slicing a string
print(string3[6:11])
print(string3[6:])
print(string3[6:-5])

#reversing a string
string5 = "Hello"
print(string5[::-1])

First way to define a string <class 'str'>
A second way to define a string <class 'str'>
And a third way <class 'str'>
A
multiple
line
string <class 'str'>
Accessing the 5th character in string 1:  t
Accessing the last character in string 2:  g
third
third way
thir
olleH

## 3. If-Else statements

In [ ]:
if 3 > 5:
    print("Really?")
else:
    print("3 < 5")

a = 10

if a < 10:
    print("a is less than 10")
elif a == 10:
    print("a is equal to 10")
else:
    print("a is greater than 10")

3 < 5
a is equal to 10


## 4. For Loop

In [ ]:
for i in range(10):
    if i > 6:
        break
    print(i)
    

print("--")

for i in range(0,10,2): # iterate by 2
    if i == 2:
        continue
    print(i)

print("--")

# nested loop

for i in range(1,3):
    for j in range(1,4):
        print(i,j)

0
1
2
3
4
5
6
--
0
4
6
8
--
1 1
1 2
1 3
2 1
2 2
2 3

## 5. While Loop

In [ ]:
i = 10

while (i > 0):
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

## 6. List

In [ ]:
fruits = ["apple", "banana", "water melon"]

print(fruits)
print(fruits[2])

# Add an element to the list
fruits.append("orange") # insert to the end
print(fruits)
fruits.insert(2, "apricot") # insert at a specific index
print(fruits)

numbers = [1,2,3,4]
print(numbers)

numsChars= [1, 'a', 2, 'b']
print(numsChars)

numsChars.extend([3, 'c', 4, 'd'])
print(numsChars)

numbers.reverse()
print(numbers)

['apple', 'banana', 'water melon']
water melon
['apple', 'banana', 'water melon', 'orange']
['apple', 'banana', 'apricot', 'water melon', 'orange']
[1, 2, 3, 4]
[1, 'a', 2, 'b']
[1, 'a', 2, 'b', 3, 'c', 4, 'd']
[4, 3, 2, 1]

## 7. Set

In [ ]:
set1 = set("Abdalla Ibrahim Abdalla") # a set using a string
print(set1)

set2 = set(["Abdalla", "Ibrahim", "Abdalla"])
print(set2)

set3= set()
print(set3)
set3.add(2)
set3.add(3)
print(set3)
set3.add((4,5))
print(set3)

for i in range (1,6):
    set3.add(i)
print(set3)

set3.remove(4)
print(set3)

set3.remove((4,5))
print(set3)

set3.pop()
print(set3)

{'h', 'a', 'i', 'I', 'm', 'b', 'A', ' ', 'r', 'd', 'l'}
{'Ibrahim', 'Abdalla'}
set()
{2, 3}
{(4, 5), 2, 3}
{1, 2, 3, 4, 5, (4, 5)}
{1, 2, 3, 5, (4, 5)}
{1, 2, 3, 5}
{2, 3, 5}

## 8. Tuples

In [ ]:
tuple1 = (1, 2, 3)
print(tuple1)
a,b,c = tuple1
print("a:",a," b:",b," c:",c)

tuple2 = ("abc", "xyz")

tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3)
a: 1  b: 2  c: 3
(1, 2, 3, 'abc', 'xyz')

## 9. Functions

In [ ]:
def printHello():
    print("Hello")

def printName(s):
    print("Hello",s)

def add(a , b):
    return a + b

printHello()
printName("Abdalla")

a = add(3,4)
print(a)

Hello
Hello Abdalla
7

## 10. isEven

In [ ]:
def isEven(n):
    if(n%2 == 0):
        return True
    else:
        return False
    
print(isEven(3432))
print(isEven(343))

True
False